.chatbot-container {
  width: 800px;
}
.chat-main-container {
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  width: 800px;
}
.chat-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
  min-width: 600px;
}
.chat-input-container {
  /* display: flex; */
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.div-message {
  color: green;
  background-color: aliceblue;
}
.user-message {
  display: flex;
  justify-content: flex-start;
  background-color: beige;
}
.robot-message {
  display: flex;
  justify-content: flex-end;
}
.button {
  border-radius: 10px;
  padding: 10px 10px;
  margin-left: 10px;
  color: white;
  background-color: green;
  border: none;
}
.input {
  border-radius: 10px;
  padding: 10px 10px;
  margin-left: 10px;
  border-width: 1px;
}
